.main {
    display: flex;
    flex-direction: column;
    margin: 7vh 10vw ;
    user-select: none;
}

.welcome-sign {
    display: flex;
    flex-direction: column;
    background-color: #2C7EDC;
    color: white;
    border-radius: 50px;
    opacity: 70%;
    height: 35vh;
    width: 80vw;    
    margin: 3vh 0;
    align-items: center;
    justify-content: space-between;
}

.welcome-text {
    font-size: 32px;
    margin: 5vh 5vw;
    text-align: center;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 42vh;
    width: 80vw; 
}

.site-description {
    text-indent: 2em;
    color: black;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 3vh;
    padding: 0 1vw;
    text-align: justify;
}

@media (max-width: 480px) {  
    .welcome-sign {
        height: 21vh;
        margin: 2vh 0;
    }

    .welcome-text {
        font-size: 28px;
        margin: auto;
    }

    .welcome-text:last-child {
        display: none;
    }

    .description-container {
        height: 61vh;
    }

    .site-description {
        font-size: 20px;
        padding: 0;
        margin-bottom: 1vh;
    }
}

@media (max-height: 850px) {
    .site-description {
        font-size: 18px;
    }
}

@media (max-height: 800px) {
    .site-description {
        font-size: 16px;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .main {
        margin: 12vh 10vw 7vh;
    }

    .welcome-sign {
        height: 32vh;
        margin: 2vh 0;
    }

    .welcome-text {
        font-size: 22px;
        margin: 3vh 3vw;
    }

    .description-container {
        height: 38vh;
    }

    .site-description {
        font-size: 20px;
        padding: 0;
        margin-bottom: 1vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .welcome-text {
        font-size: 28px;
        margin: 3vh 5vw;
    }

    .site-description {
        font-size: 24px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .site-description, .welcome-text {
        font-size: 32px;
    }
}
